/DZ_lecture_1.Import.Module.Package/.venv
/DZ_lecture_1.Import.Module.Package/.idea
/DZ_lecture_1.Import.Module.Package/application/__pycache__
/DZ_lecture_1.Import.Module.Package/application/db/__pycache__
/DZ_lecture_1. Import. Module. Package